@use "shared/styles/variables";

@mixin text-description {
	font-size: variables.$text_size_small;
	font-style: normal;
	color: variables.$color_brown;
	line-height: 110%;
}

@mixin text-regular {
	font-size: variables.$text_size_default;
	font-style: normal;
}

@mixin text-title {
	font-size: variables.$text_size_title;
}
