@use "shared/styles/variables";

.el-button > span {
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.el-button + .el-button {
	margin-left: initial;
}

.el-form-item {
	&__label {
		@apply color-brown text-big;
		margin-bottom: 9px;
	}

	&.is-error {
		.el-input__wrapper {
			@apply border-red;
			box-shadow: none;
		}
	}
}

.el-input {
	font-size: 20px;

	.el-input__wrapper {
		box-shadow: none;
		background-color: transparent;
		padding: 0 0 15px 0;
		border-bottom: 0.5px solid variables.$color_brown;
		border-radius: 0;
	}

	.el-input__inner {
		color: variables.$color_green;
		font-size: variables.$text_size_default;

		&::placeholder {
			font-weight: 400;
			color: variables.$color_brown;
			opacity: .5;
		}
	}

	&:focus, &:hover {
		.el-input__wrapper {
			border-bottom-color: variables.$color_green;
		}
	}
}
