@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "element-plus/dist/index.css";
@import "element-plus-reset";
@import "fonts";
@import "transitions";

.layout {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	touch-action: none;
}

@media screen and (max-width: 400px) {
	.layout {
		user-select: none;
	}
}

