@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "element-plus/dist/index.css";
@import "element-plus-reset";
@import "fonts";
@import "transitions";

.layout {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

