@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "element-plus/dist/index.css";
@import "element-plus-reset";
@import "fonts";

//* {
//	font-family: Roboto, sans-serif;
//	font-weight: 500;
//}

.layout {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
}

