@use "shared/styles/variables";

.color-brown {
	color: variables.$color_brown;
}

.color-black {
	color: variables.$color_black;
}

.color-white {
	color: variables.$color_white;
}

.color-beige {
	color: variables.$color_beige;
}

.color-green {
	color: variables.$color_green;
}

.color-red {
	color: variables.$color_red;
}

.color-yellow {
	color: variables.$color_yellow;
}
